html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#titulo {
    margin-bottom: 100px;
    margin-top: 50px;
}
.ItemMenuDeDrinks{
    background-color: aqua;
    padding: 10px;
    width: 250px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    float:inline-start; 
    margin-right: 20px;
    margin-bottom:20px;
}
img {
    margin: auto;
    display: block;
    height: 225px;
    width: 225px;
    border-radius: 10px;
}
.descricaoPreparo{
    text-align: justify;
}
