@using WebApplication1.ViewModel;
@model DrinkItemViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Imagens/ImagemCarrocelVerde.png" class="ImagemCarrousel" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Imagens/ImagemCarrocelLaranja.png" class="ImagemCarrousel " alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Imagens/ImagemCarrocelAzul.png" class="ImagemCarrousel alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="BlocoComItensDoMenu">
    @foreach (var Item in Model.drinksPreparoEImagem)
    {
        <a href="@Url.Action("Drink", "Home", new { IdDrink = Item.Id })">
            <div class="ItemMenuDeDrinks">

                <img src="@Item.UrlImagem" class="ImagemItemMenuDeDrinks" />
                <h3> @Item.NomeDoDrink</h3>
                <p class="descricaoPreparo"> @Item.DescricaoPreparo</p>
                <p></p>
            </div>
        </a>

    }
</div>



