@using WebApplication1.ViewModel;
@model DrinkPreparoEImagem;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>
    
</h1>

<p>
    <img src="@Model.UrlImagem" />
    @Model.DescricaoPreparo
    @foreach(var Item in Model.ItensDrink)
    {
      <h3> e </h3>
      
    }

   

